*{
    box-sizing: border-box;
}
body{
    background-image: url(https://cdn.britannica.com/48/179448-138-40EABF32/Overview-New-York-City.jpg);
}
.main{
    background-color: white;
    width: 700px;
    margin: auto;
}
.nav{
    background-color:black;
}
.nav a{
    color: azure;
    margin-left:15px ;
}
.news{
    border: 2px solid black;
    margin: 15px;
    padding: 15px;
}
img{
width: 300px;
float: left;
margin-right: 15px ;
}
.a{
    margin-left: 500px;
}
